.card {
  width: 250px;
  height: 300px;
  border: 2px solid red;


}

.foto {
  width: 80px;
  border-radius: 50px;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.card-button {
  background-color: aqua;
  border-radius: 5px;
}

.home-container {
  display: flex;

}